<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>com.reborn.hutubill.service.CategoryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.reborn.hutubill.service.UserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Record</servlet-name>
        <servlet-class>com.reborn.hutubill.service.RecordService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>com.reborn.hutubill.service.ConfigService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Record</servlet-name>
        <url-pattern>/record/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <!--config相关逻辑操作，主要是用于获取用户的预算，保存用户的预算-->
        <servlet-name>Config</servlet-name>
        <url-pattern>/config/*</url-pattern>
    </servlet-mapping>
</web-app>